.h-event {
	margin: 1em 2em;
}

.h-event h2 {
	font-family: 'SG1212', helvetica;
	text-transform: uppercase;	
	margin-bottom: 10px;
}

.h-event > * {
	margin: 0;
}

@media screen and (min-width: 768px) and (min-device-width: 768px) {
	.h-event {
		position: absolute;
		right: 0;
		text-align: right;
		z-index: 100;
		top: 0;
		right: 0;
		margin: 80px 5em 0 0;
	}
}